@import url('./App.css');
@import url('./DropzoneFileUpload.css');
@import url('./SearchTextInput.css');
@import url('./AddOrEditFile.css');
@import url('./ManageFiles.css');
@import url('./Buttons.css');

html {
  font-size: 12px;
}

body {
  background-color: #E4EBF5;
  padding-top: 40px;
  padding-bottom: 80px;
}

table > td {
  display: table-cell;
  vertical-align: middle !important;
  float: none;
}

i {
  font-size: 1.35em;
  color: #007bff;
}