@import url('./DropzoneFileUpload.css');
@import url('./SearchTextInput.css');
@import url('./AddOrEditFile.css');
@import url('./ManageFiles.css');

#moogle-drive {
  margin-top: 40px;
  margin-bottom: 80px;
}

table > td {
  display: table-cell;
  vertical-align: middle !important;
  float: none;
}

i {
  font-size: 1.35em;
  color: #007bff;
}